@{
    ViewBag.Title = "About SCML";
}
<h2>@ViewBag.Title</h2>

<section id="projects" class="well">
    <b>Vision</b><br>
    To become the finest investment bank in Bangladesh by creating long-term highest possible value for clients, employees and shareholders and the community as a whole
</section><br>
<section id="projects" class="well">
    <b>Mission</b><br>
    To support the aspirations of customers, employees and shareholders with objectivity, insight and experience by: <br>
    Delivering exclusive and flexible solutions to customers to meet the unique needs of each individual.<br>
    Developing long-term partnerships with customers.<br>
    Building capacity through recruitment and development of highly qualified personnel <br>
    Effective utilization of state-of-the-art technology.<br>
    Ensuring excellent corporate governance and strong ethical conduct.<br>
    Becoming a socially responsible corporate citizen.<br>
</section>
