@{
    ViewBag.Title = "Board of Directors";
}

<h2>@ViewBag.Title</h2>
<div class="well">
    <img class="imageborder alignleft" alt="" src="~/Images/event_1.png">
    <p>
    </p><h2 class="right-line no-margin no-padding">Mr. Hossain Khaled </h2>
    <ul class="list-unstyled">
        <li><strong>Chairman &amp; Nominated Director </strong></li>
    </ul>
    <p></p>
    <p class="text-justify">Mr. Khaled is currently serving as the Chairman of City Brokerage Limited. He is also one of the Directors of The City Bank Limited which is the parent company of City Brokerage Ltd. He had completed his under graduation &amp; graduation from USA at 1997 &amp; 1999. He is the Chairman of Bangladesh Finance &amp; Investment Ltd. and Director of Anwar Group of Industries, City General Insurance , BD Finance Capital Holdings Ltd., BD Finance Securities Ltd, and Managing Director of Anwar Jute Spinning Mills Ltd., AG Automobiles Ltd. , AG Motor Ltd., Eurocars Ltd. Mr. Khaled  is also the President of DCCI&amp; former Director of FBCCI. </p>
</div>

<div class="well">
    <img class="imageborder alignright" alt="" src="~/Images/event_1.png">
    <p>
    </p><h2 class="right-line no-margin no-padding">Mr. Hossain Khaled </h2>
    <ul class="list-unstyled">
        <li><strong>Chairman &amp; Nominated Director </strong></li>
    </ul>
    <p></p>
    <p class="text-justify">Mr. Khaled is currently serving as the Chairman of City Brokerage Limited. He is also one of the Directors of The City Bank Limited which is the parent company of City Brokerage Ltd. He had completed his under graduation &amp; graduation from USA at 1997 &amp; 1999. He is the Chairman of Bangladesh Finance &amp; Investment Ltd. and Director of Anwar Group of Industries, City General Insurance , BD Finance Capital Holdings Ltd., BD Finance Securities Ltd, and Managing Director of Anwar Jute Spinning Mills Ltd., AG Automobiles Ltd. , AG Motor Ltd., Eurocars Ltd. Mr. Khaled  is also the President of DCCI&amp; former Director of FBCCI. </p>
</div>
