@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Event 1</h2>

<section id="projects" class="well">
    <img alt="Event 1" src="~/Content/images/carousel1.jpg" width="100%" />
    Trusted Client Service: Simplify your investment and save time by consolidating at SCML - a partner you can trust<br>
    Market Beating Management Fees: Enjoy competitive, straightforward Management Fees, Trading Rates and no HIDDEN charges<br>
    Unbiased Research: Portfolio Management and asset selections backed by extensive research and analysis.<br>
    Superior Portfolio Management Service: Client centric portfolio managers dedicated to investor specific return objective and risk tolerances.<br>
    Excellent Service: Professional, transparent, specialized investment management team actively managed by experienced professionals to seek superior returns.<br>
    Complaint: Strictly compliant with all laws, rules and regulations and fiduciary duties. <br>


</section>
