@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.Partial("_JumbotronPartial")
</div>
<br />

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Our services</h3>
    </div>
    <div class="panel-body">
        The Investment Bank provides corporate, institutional, and wealth management clients with expert advice,
        innovative financial solutions, outstanding execution and comprehensive access to the world’s capital markets.
        It offers investment banking advisory services and access to international capital markets, and provides comprehensive cross asset research,
        along with access to the equities, foreign exchange, precious metal and rates and credit markets,  through its two business units,
        Corporate Client Solutions and Investor Client Services. The Investment Bank is an active participant in capital markets flow activities,
        including sales, trading and market-making across a range of securities.
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Latest News</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-dismissible alert-warning">
                    <a href="#" class="alert-link"><strong>EXCH!</strong><p style="font-weight:normal;"> Honorable Investors, Good morning! Please make your investment decisi...</p></a>
                </div>
                <div class="alert alert-dismissible alert-warning">
                    <a href="#" class="alert-link"><strong>REGL!</strong><p style="font-weight:normal;">Investors are requested to consider the following facts at the time of...</p></a>
                </div>
                <div class="panel-footer" style="text-align:right"><a href="#" class="btn btn-warning">More</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Market Comments</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-dismissible alert-warning">
                    <a href="#" class="alert-link"><strong>EXCH!</strong><p style="font-weight:normal;"> Honorable Investors, Good morning! Please make your investment decisi...</p></a>
                </div>
                <div class="alert alert-dismissible alert-warning">
                    <a href="#" class="alert-link"><strong>REGL!</strong><p style="font-weight:normal;">Investors are requested to consider the following facts at the time of...</p></a>
                </div>
                <div class="panel-footer" style="text-align:right"><a href="#" class="btn btn-warning">More</a></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">IPO Notes</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-dismissible alert-warning">
                    <a href="#" class="alert-link"><strong>EXCH!</strong><p style="font-weight:normal;"> Honorable Investors, Good morning! Please make your investment decisi...</p></a>
                </div>
                <div class="alert alert-dismissible alert-warning">
                    <a href="#" class="alert-link"><strong>REGL!</strong><p style="font-weight:normal;">Investors are requested to consider the following facts at the time of...</p></a>
                </div>
                <div class="panel-footer" style="text-align:right"><a href="#" class="btn btn-warning">More</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Analytical Reports</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-dismissible alert-warning">
                    <a href="#" class="alert-link"><strong>EXCH!</strong><p style="font-weight:normal;"> Honorable Investors, Good morning! Please make your investment decisi...</p></a>
                </div>
                <div class="alert alert-dismissible alert-warning">
                    <a href="#" class="alert-link"><strong>REGL!</strong><p style="font-weight:normal;">Investors are requested to consider the following facts at the time of...</p></a>
                </div>
                <div class="panel-footer" style="text-align:right"><a href="#" class="btn btn-warning">More</a></div>
            </div>
        </div>
    </div>
</div>