<footer>
    <div class="panel panel-default">
        <div class="panel-body" style="background-color:#ededed;">
            <div class="row">
                <div class="col-md-4">
                    <h3>Site Map</h3>
                    <ul class="list-unstyled three_cols">
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Boards</a></li>
                        <li><a href="#">Key People</a></li>
                        <li><a href="#">Data Matrix</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Historical Price</a></li>
                        <li><a href="#">E-Services</a></li>
                        <li><a href="#">Market Movers</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Corporate Office</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    @Html.Partial("_PostPartial")

                </div>
                <div class="col-md-4">
                    <h3>Contact Info</h3>
                    <address>
                        <strong>Sigma Capital Management Limited</strong><br>
                        87, Rashed Khan Menon Road<br>
                        (Level 16) Eskaton, Dhaka, Bangladesh
                    </address>
                    <p>
                        <i class="icon-phone"></i>Tel: +880 2 9331055<br>
                        <i class="icon-phone"></i>Fax: +880 2 9337597<br>
                        <i class="icon-envelope-alt"></i> Email: info@scmlbd.com
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-heading" style="background-color:#dddddd; text-align:center">© Sigma Capital Management Limited 2016 All right reserved. By <a href="#" target="_blank">GetGrow Techno Soft</a></div>
    </div>
</footer>
