<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Message from CEO</h3>
    </div>
    <div class="panel-body">
        <blockquote>

            Sigma Capital Management Limited (SCML) is a full-fledged merchant banking company licensed
            by Bangladesh Securities and Exchange Commission on 2011. An experienced management team over
            than...

            <small><cite title="Message from CEO">CEO, SCM Limited</cite></small>
        </blockquote>
    </div>
</div>

